.header
  =render "posts/header"
  
.wrapper
  -if user_signed_in?
    .index
      = link_to'一覧を見る', posts_path,class:'all'
      = link_to'登録する',new_post_path, class:'register'
      = link_to'検索する↓', class:'register'
      .search
        = form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "", :size=>"100",class: "search-input"
          = form.submit "検索",:size=>"1000" ,class: "search-btn"
      

  - else
    .index