.header
  =render"header"
.body
  .body_field
    = form_with(model: @post, local: true) do |form|
      %h3
        登録する
      = form.text_field :name, placeholder: "お名前",class:"box"
      %br
      = form.text_field :birth_day, placeholder: "生年月日",class:"box"
      %br
      = form.collection_select :gender_id, ::Gender.all, :id, :name,  prompt: "選択してください",class:"genderbox"
      %br
      = form.text_field :address, placeholder: "住所" ,class:"box"
      %br
      = form.text_field :phone_num, placeholder: "電話番号" ,class:"box"
      %br
      = form.text_field :mail_address, placeholder: "メールアドレス" ,class:"box"
      %br
      = form.text_field :visit_day, placeholder: "来店日",class:"box"
      %br
      = form.text_field :menu, placeholder: "メニュー",class:"box"
      %br
      = form.text_field :image, placeholder: "施術画像",class:"box"
      %br
      = form.text_area :text, placeholder: "施術内容" , rows: "10",class:"field"
      %br
      = form.text_area :talk, placeholder: "会話内容" , rows: "10",class:"field"
      %br
      = form.submit "SEND"
  